
body
{
background-image:url("/home/Sem6B10/Desktop/20171cse0645-master/images/istockphoto-621925576-612x612.jpg");
background-repeat:no-repeat;
background-attachment:fixed;
}
h1{
color:maroon;
margin-left:40px;}
p{
color:orange;
}

